*{
    margin:0;
    padding:0;
}
:root{
    --mainBorder:5px solid rgb(12, 12, 12);
    --border:2px solid #000000;
    --borderHover:1px solid #000;
}
body{
    background: #000;
    display:flex;
    background-image: url(./img/site_bg.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    padding:0;
    margin:0;
    position: relative;
    font-size: 16px;
}
.main__menu{
    position: fixed;
    top:15px;
    left:10%;
    right:10%;
    width:80%;
    height: 50px;
    box-sizing: border-box;
    z-index: 3;
    
    
}
.main__menu ul{
    display: flex;
    height: 100%;
    
}
.main__menu__list{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: rgb(90, 2, 2);
    border:var(--border);
    transition: .2s linear;
    text-transform: capitalize;
    font-size: 1.3rem;
    border-radius: 15px;
}

.main__menu__list:hover{
    background-color: rgb(253, 2, 2);
    cursor: pointer;
    color:#000;
    transform: scale(1.08);
    box-shadow: 0 0 2px 2px rgb(247, 183, 66), 0 0 0 4px;
    letter-spacing: .4rem;
    border:var(--borderHover);
    border-radius: 15px
}
.main__menu__list--active{
    background-color: #fd0202; 
}








/* SECTIONS */
.main__section{
    display: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width:90%;
    height:90%;
    margin:0;
    padding:5vh 0 0 0;
    box-sizing: border-box;
    position: absolute;
    top:5%;
    left:5%;
    z-index: 1;
    border:var(--mainBorder);
    border-radius: 50px;
    /* mix-blend-mode: multiply; */
}

.main__section--home{
    background-color: rgba(9, 248, 236, 0.151);   
}
.main__section--collection{
    background-color: rgba(112, 109, 109, 0.151);
}
.main__section--store{
    background-color: rgba(255, 196, 2, 0.151);
}
/* .main__section--about{
    background-color: rgb(1, 255, 65);
} */
/* .main__section--contact{
    background-color: rgb(15, 49, 121);
} */
.main__section--active{
    display:flex;
    animation: animate 2s linear 1 backwards;
}

.main__section__title{
    text-transform: uppercase;
    font-size: 7rem;
    color:#dddbdb;
    text-shadow: 5px 2px 3px rgb(3, 3, 3);
    letter-spacing: 5px;
}

@keyframes animate {
    0% {opacity:0;}
    100%{opacity:1;}
}